@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background-color: #64748b;
  height: 100vh;
}
.main {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 10px 25px;
}

.icon-text p {
  font-weight: bold;
  font-size: 20px;
}

.list-items.bottom {
  margin-top: 50px;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: #cbd5e1;
}
.navbar,
.greeting,
.greeting-left {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.navbar {
  justify-content: space-around;
}

.greeting {
  justify-content: space-around;
  margin: 10px;
}

.greeting-left {
  gap: 15px;
}

.greeting-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.btn {
  width: 75px;
  background-color: #64748b;
  height: 35px;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin: ;
}

.searchbar {
  width: 500px;
  height: 35px;
  background-color: lightgrey;
  border-radius: 15px;
  border: 1px solid lightgrey;
}

.nav.left,
.nav.right {
  display: flex;
  align-items: center;
}

.nav.right {
  gap: 20px;
}

.content {
  display: grid;
  grid-template-columns: 75% 25%;
}

.projects {
  display: grid;
}

.proj-cards {
  background-color: white;
  border-left: 2px solid rgb(230, 184, 59);
  border-radius: 10px;
  width: 80%;
  margin: 30px 10px;
}

/* html {
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
  grid-template: 1fr 4fr / 1fr 3fr 1fr;
}

ul {
  list-style-type: none;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

ul > li {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: black;
}

header {
  grid-row: 1/2;
  grid-column: 2/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-search {
  display: flex;
  justify-content: space-between;
}

.header-greeting {
  display: flex;
  justify-content: space-between;
}

nav {
  grid-row: 1/3;
  background-color: rgb(159, 210, 255);
  height: 100vh;
}

.navCard,
.navCard a {
  display: flex;
  align-items: center;
  gap: 15px;
}

section {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template: 5% 1fr / 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: rgb(228, 228, 228);
}

.proj-cards {
  background-color: white;
  width: 300px;
  height: 300px;
  margin: 15px;
  padding: 10px;
}

section h1 {
  grid-column: 1 / 3;
}

aside {
  background-color: rgb(228, 228, 228);

  grid-column: 3/4;
  grid-row: 2/3;
}

.trending-user {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  margin: 15px;
  padding: 10px;
}

.anounce-container {
  background-color: white;
  margin: 15px;
  padding: 10px;
} */
